@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&family=Original+Surfer&family=Preahvihear&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.nova-oval-regular {
    font-family: "Nova Oval", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  